/bootloader/bin/cryptsetup
data/*
/result*
/source/*
*.bin
*.zip*
*.bak*
# llm-notes/*  # Uncomment to ignore LLM notes
initramfs-patching-poc/extracted-kernel
*.iso
*.img
debug*
work/*
vmlinuz
.crush*
.shimboot_branch
.temp
.shimboot_build_info
.opencode/
.kilocode/
